
.todolist{   
    padding: 4rem;
    font-family: monospace;
    align-items: center;  
}

.delete-button{
    background-color: rgb(205, 170, 216);
    border-radius: 10px;
    color:white;
    float: inline-end;
    font-size: 0.9rem;
    margin-top: 2rem;
    padding: 0.5rem;
}

.text-center{
    color:rgb(205, 170, 216);
    font-variant: small-caps;
    font-size: 4rem;
}
